* {
  --pageWidth: 1024px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  color: white;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg, #ffc53f 0%, #fa709a 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 48px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  /* overflow: hidden; */
}
